{% extends "f4t/base.html"%}
{% load crispy_forms_tags %}
{% block title %}
About us
{% endblock %}
{% block content%}

<div class="container">
    <div class="about-us">
            <h2 class="text-center">About Us</h2>
            <br>
            <p class="thought-about">WELCOME TO OUR FOODFORTHOUGHT GROUP!
                Daily FoodForThought is an email service that provides uplifting messages which are intended to lead a better Christian life by following basic Christian principles and provides you with a simple means to extend a Christian hand in friendship to help inspire others to come to understand that God loves them. And best of all it's a FREE service.
                FoodForThought runs this message as submitted and do not claim to own any copyright privileges on it. The work was submitted to us as an item for distribution, and it was posted solely on the basis of its quality. It is the belief of FoodForThought and that this message is in the common domain.</p>
                <br>
                <p>Contact us </p>
                <div class="social-media">
                    <a title="Visit our facebook page" href="https://web.facebook.com/groups/142903436398" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>

    </div>
</div>
{% endblock %}