<nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background:#202020;">
  <div class="container">

  <a style="color:white;" class="navbar-brand" href="{% url 'post_home' %}">Foodforthought</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon" ></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" >
        <a style="color: white;" class="nav-link" href="{% url 'post_home' %}">Today <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{% url 'allposts' %}">Thoughts</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{% url 'members' %}">Members</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{% url 'feedbacks' %}">FeedBacks</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{% url 'testimonies' %}">Testimonies</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    </ul>
</div>
  </div>
</nav>

    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <form method="GET" class="form-inline my-2 my-lg-0 ml-auto mr-auto" data-url="{% url 'search' %}" id="search-form">
            {% csrf_token %}
            <input id="mysearch" class="form-control" type="search" placeholder="Search" aria-label="Search"
              name="q">
          </form>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="results_section">
            {% include "f4t/search_list.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>