{% extends "f4t/base.html"%}
{% load humanize %}
{% block title %}
Thought today
{% endblock %}

{% block content %}

<!-- add new thought button  -->

<div class="my-new-thought-button">
    <a title="Add new thought today" href="{% url 'create_post' %}">
        <i class="fas fa-plus-circle"></i>
    </a>
</div>
<br>
<div class="container">
    <div class="my-home-post-wrapper">
        <!-- latest post goes here -->
        {% for post in post_today %}
            <h3 class="text-center">Title: {{ post.title }}</h3>
            <br>
            <H6>By: {{ post.author }}</H6>
            <p>Bible Quotations: {{ post.bible_quotations }}</p>
            <b class="mb-3">Listen to the audio content</b>
            <br>
            {% if post.audio_content %}
            <div class="my-audio">
                <audio src="{{ post.audio_content.url }}" controls controlsList="nodownload" type="audio/mp3" ></audio>
                <br>
                <div>

                <!-- <a class="animated bounce infinite" title="download attached file" href="{{ post.audio_content.url }}"  download="{{post.title}}" target="_blank">
                    <i class="fas fa-download ml -3"></i> 
                    </a> -->
                </div>
            </div>
            {% endif %}

            
        {% endfor %}
    </div>
    <br>
</div>
<br>
{% endblock content %}